* {
    box-sizing: border-box
}

body {
	background-color: #dbdbdb;
}

/*slideshow container*/
.wrapper {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
}


.slides {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}



.current-slide {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    animation-name: trans;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    -webkit-animation-name: trans;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
}

.current-slide-left {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    animation-name: lefty;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    -webkit-animation-name: lefty;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
}

.previous-slide {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    animation-name: prev;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    -webkit-animation-name: prev;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
}

.previous-slide-left {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    animation-name: prev-lefty;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    -webkit-animation-name: prev-lefty;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
}

.first-slide {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}


/*Next & Previous Buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}

/*Postition "next" button to the right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*On hover, button tweek*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*Caption text*/
.text {
    color: #f2f2f2;
    font-size: 3rem;
    text-shadow: 3px 2px 7px rgba(28, 110, 164, 0.59);
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    user-select: none;
    z-index: 3;
}

/*slide count*/
.slide-count {
    color: #f2f2f2;
    font-size: 1.2rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 3;
}

/*slide dots/indicators*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 3;
}

.active,
.dot:hover {
    background-color: #717171;
}

.play-button {
	font-size: 2rem;
	padding-right: 1rem;
}


@-webkit-keyframes lefty {
    from {
        z-index: 1;
        transform: translateX(-100%);
    }

    to {
        z-index: 2;
        transform: translateX(0%);
    }
}

@keyframes lefty {
    from {
        z-index: 1;
        transform: translateX(-100%);
    }

    to {
        z-index: 2;
        transform: translateX(0%);
    }
}


@-webkit-keyframes trans {
    from {
        z-index: 1;
        transform: translateX(100%);
    }

    to {
        z-index: 2;
        transform: translateX(0%);
    }
}

@keyframes trans {
    from {
        z-index: 1;
        transform: translateX(100%);
    }

    to {
        z-index: 2;
        transform: translateX(0%);
    }
}



@-webkit-keyframes prev-lefty {
    from {
        z-index: 2;
        transform: translateX(0%);
    }

    to {
        z-index: 1;
        transform: translateX(100%);
    }
}

@keyframes prev-lefty {
    from {
        z-index: 2;
        transform: translateX(0%);
    }

    to {
        z-index: 1;
        transform: translateX(100%);
    }
}



@-webkit-keyframes prev {
    from {
        z-index: 2;
        transform: translateX(0%);
    }

    to {
        z-index: 1;
        transform: translateX(-100%);
    }
}

@keyframes prev {
    from {
        z-index: 2;
        transform: translateX(0%);
    }

    to {
        z-index: 1;
        transform: translateX(-100%);
    }
}